<!DOCTYPE HTML>
<html>
<head>

    <title>留言博主</title>
    <link href="../stylesheets/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link href="../stylesheets/style.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!----webfonts---->
    <!--<link href='http://fonts.useso.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,300italic,400italic,600italic'-->
    <!--rel='stylesheet' type='text/css'>-->
    <!----//webfonts---->
    <!--end slider -->
    <!--script-->
    <script type="text/javascript" src="../javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/jq.move_extend.js"></script>
    <script type="text/javascript" src="../javascripts/contact.js"></script>
</head>
<body>
<!---strat-banner---->
<div class="banner">
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="index.html"> <img src="images/logo.png" title="soup"/></a>
            </div>
            <!---start-top-nav---->
            <div class="top-menu">
                <span class="menu"> </span>
                <ul>
                    <li><a href="http://127.0.0.1:3000">主页</a></li>
                    <li class="active"><a href="http://127.0.0.1:3000/contact" target="_blank">联系博主</a></li>
                    <li><a href="http://127.0.0.1:3000/login" target="_blank">管理登录</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="clearfix"></div>
            <!---//End-top-nav---->
        </div>
    </div>
    <div class="container">
        <div class="banner-head">
            <h1>人生若只如初见</h1>

            <h2>by tangerine</h2>
        </div>
    </div>
</div>
<!---//End-banner---->
<div class="contact">
    <div class="container">
        <div class="contact-head">
            <h3>CONTACT</h3>

            <form>
                <div class="col-md-6 contact-left">
                    <input type="text" placeholder="Name" name="name" required/>
                    <input type="text" placeholder="E-mail" name="email" required/>
                    <input type="text" placeholder="Phone" name="phone" required/>
                </div>
                <div class="col-md-6 contact-right">
                    <textarea placeholder="Message"></textarea>
                    <input type="button"  class="btn post" value="SEND"/>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="address">
            <h3>我的信息</h3>

            <div class="col-md-6 locations">
                <ul>
                    <li><span></span></li>
                    <li>
                        <div class="address-info">
                            <h4>四川,成都 </h4>

                            <p>成都理工大学</p>

                            <p>成都市三环以内二仙桥东三路1号</p>

                            <p>Phone: 123 456 7890</p>

                            <p>Mail: 3603643@qq.com</p>
                            <p><a href="tencent://message/?uin=1101101101&Site=&Menu=yes">qq联系：3603643</a></p>
                            <h5><a href="">点击查看地图</a></h5>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--fotter-->
<div class="fotter">
    <div class="container">
        <div class="col-md-4 fotter-info">
            <h3>关于我</h3>

            <p>时间就是这个样子，徜徉其中尚觉得慢，一旦定睛回望，弹指之间。 </p>

            <p>生命那么短，世界那么乱，我不想争吵，不想冷战，不愿和你有一秒遗憾。 </p>
        </div>
        <div class="col-md-4 fotter-list">
            <h3>精彩推荐</h3>
            <ul>
                <li><a href="#">Ut alliquam solicitudin</a></li>
                <li><a href="#">Neque id cursus faucibus</a></li>
                <li><a href="#">Raesent dapibus neque id cursus</a></li>
            </ul>
        </div>
        <div class="col-md-4 fotter-media">
            <h3>友情链接</h3>

            <div class="social-icons">
                <a href="#"><span class="fb"> </span></a>
                <a href="#"><span class="twt"> </span></a>
                <a href="#"><span class="in"> </span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<a href="#to-top" id="toTop" style="display: none;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


</body>
</html>